<!DOCTYPE html>
<html>
<head>
	<title>Testing DBs</title>
</head>
<body>
	<h1>Hello WOrld!</h1>

	<form action="/posts" method="post">
		<label>
			<input type="text" name="title" id="title">
		</label>
	</form>

</body>
</html>