<!DOCTYPE html>
<html>
<head>
	<title>Last User</title>
</head>
<body>

	<h1>The last user was...</h1>

	<ul>
		
			<li><%= @last_user.email %></li>
			<li><%= @last_user.birthday %></li>
			
		
	</ul>


</body>
</html>